################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CleanBase/obj
/CleanBusiness/obj
/CleanFront/obj
/CleanAPI/bin/Debug/net6.0
/CleanAPI/obj
/CleanFront/bin/Debug/net6.0
/CleanBase/bin/Debug/net6.0
/CleanBusiness/bin/Debug/net6.0
/CleanOperation/bin/Debug/net6.0
/CleanOperation/obj
/DatabaseApp/bin/Debug
/DatabaseApp/obj/Debug
/DatabaseApp/DatabaseApp.dbmdl
*.jfm
/CleanAPI/bin/Debug/net8.0
/CleanBase/bin/Debug/net8.0
/CleanBusiness/bin/Debug/net8.0
/CleanOperation/bin/Debug/net8.0
/CleanAPI/bin/Debug/net9.0
/CleanBase/bin/Debug/net9.0
/CleanBusiness/bin/Debug/net9.0
/CleanOperation/bin/Debug/net9.0
/CleanAPIGenerator/obj
/CleanAPIGenerator/bin/Debug/netstandard2.0
/CleanGenerator/bin/Debug/netstandard2.0
/CleanGenerator/obj
